* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    ul, ol {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }
    
    html {
        scroll-behavior:smooth;
    }
    
    body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .menu {
        height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .menu h2 {
        font-size: 35px;
        margin-bottom: 15px;
    }
    .menu a {
        color: inherit;
    }
    
    .menu ul {display: flex;
        gap: 10px;
        font-size: 20px;
        flex-direction: column;
    }
    .menu { height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
           
    }
    .bg-hot-dog {  height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./image/hotdog.jpg);
    }
    .bg-gamburger {  height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./image/gamburger.jpg);
    }
    .bg-kfc {  height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./image/kfc.jpg);
    }
    .bg-pizza {  height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./image/pizza.jpg);
    }
    .bg-free {  height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;   
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./image/free.jpg);
        
    }
    .bg-drink {  height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;   
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./image/drink.jpg);
    }
    a {
        list-style: none;
        text-decoration: none;
        color:chocolate;
        font-size: 32px;
        font-family:Georgia, 'Times New Roman', Times, serif;

    }

    h3 {
        margin-top: 50px;
        color: chartreuse;
    }
    